{
  "INFURA_PROJECT_ID": "YOUR_INFURA_PROJECT_ID",
  "DEPLOYMENT_ACCOUNT_PK": "YOUR_DEPLOYMENT_ACCOUNT_PK",
  "GAS_PRICE": "10000000000",
  "KYBER_DAO_ADDRESS": "0x49bdd8854481005bBa4aCEbaBF6e06cD5F6312e9",
  "KYBER_FEE_HANDLERS_ADDRESS": ["0xd3d2b5643e506c6d9B7099E9116D7aAa941114fe"],
  "REWARD_TOKENS": ["0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE"],
  "EPOCH_NOTICE": "2",
  "INITIAL_DELEGATION_FEE": "100"
}
