{
  "INFURA_PROJECT_ID": "YOUR_INFURA_PROJECT_ID",
  "DEPLOYMENT_ACCOUNT_PK": "YOUR_DEPLOYMENT_ACCOUNT_PK",
  "GAS_PRICE": "20000000000",
  "KYBER_DAO_ADDRESS": "0x2Be7dC494362e4FCa2c228522047663B17aE17F9",
  "KYBER_FEE_HANDLERS_ADDRESS": ["0xfF456D9A8cbB5352eF77dEc2337bAC8dEC63bEAC"],
  "REWARD_TOKENS": ["0x0000000000000000000000000000000000000000"],
  "EPOCH_NOTICE": "2",
  "INITIAL_DELEGATION_FEE": "100"
}
